<h2 id="title">Welcome to Ember</h2>

{{outlet}}


{{ember-chartnew type='horizontal-bar' height=200 width=400 data=chartData options=chartOptions}}
{{ember-chartnew type='bar' height=200 width=400 data=chartData options=chartOptions}}
{{ember-chartnew type='horizontal-bar' height=200 width=400 data=chartData options=chartOptions}}
{{ember-chartnew type='horizontal-bar' height=200 width=400 data=chartData options=chartOptions}}
