<h2 id="title">Welcome to Ember</h2>

{{outlet}}


{{ember-chartnew type='horizontal-bar' height=200 width=400 data=barChartData options=chartOptions}}
{{ember-chartnew type='bar' height=200 width=400 data=barChartData options=chartOptions}}
{{ember-chartnew type='pie' height=200 width=400 data=pieChartData options=chartOptions}}
{{ember-chartnew type='doughnut' height=200 width=400 data=doughnutChartData options=chartOptions}}
